<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<script type="text/javascript">
 	function quayve() {
 		 window.location = "/XemGiayKhaiSinhChuaDuyet";
	}

</script>
<body>
	<nav th:replace="layout :: header"></nav>
	<div class="container main-content list">

		
	    <form  th:action="@{/xulyduyet}" method="post" th:object="${toKhai}" >
	    <div th:if="${success}" class="row alert alert-success alert-dismissible">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <span th:text="${success}"></span>
	    </div>
	    <input type="hidden" th:field="*{maToKhai}" >
	    
			<div class="form-group">
				<h2 align="center" style="background-color: aqua; font-size: 30px;">
					<center>
						<b>THÔNG TIN KHAI SINH</b>
					</center>
				</h2>
			</div>

			<div class="form-group">
				<label>Cơ Quan Tiếp Nhận: </label> 
				<select th:field="*{classXa}">
					<option th:each="item:${listXa}" th:value="${item.maXa}" th:text="${item.tenXa}"></option>
					
				</select>
			</div>

			<div class="form-group">
				<label>Ngày Lập: </label>
				 <input type="date" class="form-control"
					th:field="*{ngayLap}" />
			</div>

			<hr></hr>

			<div class="form-group">
				<h2 align="center" style="background-color: aqua; font-size: 24px;">
					<center>
						<b><i>THÔNG TIN NGƯỜI ĐI ĐĂNG KÝ KHAI SINH</i></b>
					</center>
				</h2>
			</div>
			<div class="form-group">
				
				<label>Chứng minh nhân dân của người đi đăng ký: </label>
				<input type="number" class="form-control" name="cmnd1" th:value="*{classNhanKhau_Ngdk.cmnd}" />
			</div>
			<div class="form-group">
				<label>Quan Hệ Với Người Được Khai Sinh: </label>
				 <select th:field="*{classQuanHeVoiNgDK}">
					<option th:each="item:${listQuanHeChuHo}" th:value="${item.maQuanHe}" th:text="${item.tenQuanHe}"></option>
					
				</select>

			</div>

			<hr></hr>

			<div class="form-group">
				<h2 align="center" style="background-color: aqua; font-size: 24px;">
					<center>
						<b><i>THÔNG TIN NGƯỜI ĐƯỢC KHAI SINH</i></b>
					</center>
				</h2>
			</div>
			<div class="form-group">
				<label>Họ và Tên: </label> <input type="text" class="form-control"
					th:field="*{hoTenNguoiKS}" placeholder="Nhập vào Họ và Tên" />

			</div>
			<div class="form-group">
				<label>Ngày Sinh: </label> <input type="date" class="form-control"
				th:field="*{ngaySinh}"	 />

			</div>
			<div class="form-group">
				<label>Ngày sinh bằng chữ: </label> <input type="text" class="form-control"
					th:field="*{ngaySinhBC}" placeholder="Nhập ngày sinh bằng chữ" />

			</div>
			<div class="form-group">
				<label>Nơi Sinh: </label> <input type="text" class="form-control"
					th:field="*{noiSinh}" placeholder="Nhập nơi sinh" />

			</div>

			<div class="row">
				<div class="form-group col-sm-4">
					<label>Giới Tính: </label> 
					<select th:field="*{gioiTinh}" >
						<option  th:value="Nam" th:text="Nam">Nam</option>
						<option  th:value="Nữ" th:text="Nữ">Nữ</option>
					</select>
				</div>
				<div class="form-group col-sm-4">
					<label>Dân Tộc: </label> 
					
				 <select th:field="*{classDanToc}">
					<option th:each="item:${listDanToc}" th:value="${item.maDanToc}" th:text="${item.tenDanToc}"></option>
					
				</select>

				</div>

				<div class="form-group col-sm-4">
					<label>Tôn Giáo: </label>
					 <select th:field="*{classTonGiao}">
					<option th:each="item:${listTonGiao}" th:value="${item.maTonGiao}" th:text="${item.tenTonGiao}"></option>
					
				</select>
				

				</div>
				
				<div class="form-group col-sm-4">
					<label>Quốc Tịch: </label>
				 <select th:field="*{classQuocTich}">
					<option th:each="item:${listQuocTich}" th:value="${item.maQuocTich}" th:text="${item.tenQuocTich}"></option>
					
				</select>

				</div>
			</div>

			<div class="form-group">
				<label>Nơi Đăng Ký Thường Trú: </label> 
				<select th:field="*{classXa2}">
					<option th:each="item:${listXa}" th:value="${item.maXa}" th:text="${item.tenXa}"></option>
					
				</select>
			</div>

			<hr></hr>

			<div class="form-group">
				<h2 align="center" style="background-color: aqua; font-size: 24px;">
					<center>
						<b><i>THÔNG TIN MẸ</i></b>
					</center>
				</h2>
			</div>
			<div class="form-group">
				
				<label>Chứng minh nhân dân của mẹ: </label>
				<input type="number" class="form-control" name="cmndme1" th:value="*{classNhanKhau_Ngdk.cmnd}" />
			</div>

			<hr></hr>

			<div class="form-group">
				<h2 align="center" style="background-color: aqua; font-size: 24px;">
					<center>
						<b><i>THÔNG TIN CHA</i></b>
					</center>
				</h2>
			</div>
			<div class="form-group">
				
				
				<label>Chứng minh nhân dân của cha: </label>
				<input type="number" class="form-control" name="cmndcha1" th:value="*{classNhanKhau_Cha.cmnd}"/>
			</div>
			<div class="form-group">
				<label>Ghi Chú: </label> <input type="text" class="form-control"
					th:field="*{ghiChu}" placeholder="Nhập ghi chú" />

			</div>
			<div class="form-group">
				<label>Tinh Trang: </label>
				<select th:field="*{classTinhTrangToKhai}">
					<option th:each="item:${listTinhTrangToKhai}" th:value="${item.maTinhTrang}" th:text="${item.tenTinhTrang}"></option>
					
				</select>
			</div>

			<div class="form-group">
				<div class="col-sm-4"></div>
				<div class="col-sm-2">
					<button type="reset" class="btn btn-primary" onclick="quayve();">Quay Về</button>
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-4">
					<button type="submit" class="btn btn-primary">Xác Minh</button>
				</div>
			</div>
		</form>
	</div>


	<footer th:replace="layout :: footer"></footer>
</body>
</html>

