<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container main-content form">
    
        <div class="row">
          <form  th:action="@{/themtinh}" method="get" th:object="${Tinh}" >
           
          <div class="form-group">
				<label>Ten Tinh: </label> <input type="text" class="form-control"
					th:field="*{tenTinh}" placeholder="Nhập nơi sinh" />

			</div>
            <button type="submit" class="btn btn-primary">Luu</button>
            <button type="submit" class="btn btn-primary">Quay Về</button>
          </form>
        </div>
    </div><!-- /.container -->

    <footer th:replace="layout :: footer"></footer>
</body>
</html>