#first {
    width: 1100px;
    height: 150px;
    border:1px solid black;
}
#second{
    width: 1100px;
    height: 450px;
    background-color:azure;
}

#second1{
    width: 1100px;
    height: 1800px;
    background-color:azure;
}


#second2{
    width: 1100px;
    height: 2100px;
    background-color:azure;
}
