<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	 <nav th:replace="layout :: header"></nav>
	<div class="container main-content list">
	
		<form action="#" th:action="@{/giaykhaisinh/dangky}" th:object="${ToKhai}" >
		<div class="form-group">
				 <h2 align="center" style="background-color: aqua; "><center><b>Thông tin khai sinh</b></center></h2>
			</div>
			<div class="form-group">
				 <label>Quận/Huyện: </label>
                <select name="quanhuyen">
                    <option>Quận Ninh Kiều</option>
                    <option>Quận Thốt Nốt</option>
                    <option>Quận Thới Lai</option>
                    <option>Quận Ô Môn</option>
                </select>
			</div>
			<div class="form-group">
				<label>Cơ quan tiếp nhận: </label>
                <select name="coquan">
                    <option>UBND Phường Tân An</option>
                    <option>UBND Phường An Lạc</option>
                    <option>UBND Phường Xuân Khánh</option>
                    <option>UBND Phường Hưng Lợi</option>
                </select>
			</div>
			 <div class="form-group">
				<label>Ngày lập: </label>
                  <input type="date" class="form-control" id="ngaylap"  />
                
			</div>
			
			<div class="form-group">
				 <h2 align="center" style="background-color: aqua; "><center><b>Thông tin người đi đăng ký khai sinh</b></center></h2>
			</div>
			<div class="form-group">
				<label>Nhập chứng minh nhân dân của người đi đăng ký hoặc mã nhân khẩu: </label>
                  <input type="text" class="form-control" id="thongtinnguoididangky" placeholder="Nhập chứng minh nhân dân của người đi đăng ký, hoặc mã nhân khẩu" />
			</div>
			<div class="form-group">
                <label >Quan hệ với người được khai sinh: </label>
                
                <select name="quanhe">
                    <option>Ông</option>
                    <option>Bà</option>
                    <option>Cha</option>
                    <option>Mẹ</option>
                    <option>Cô</option>
                    <option>Chú</option>
                    <option>Dì</option>
                    <option>Cậu</option>
                </select>
                
            </div>
			
            <div class="form-group">
				 <h2 align="center" style="background-color: aqua; "><center><b>Thông tin người được khai sinh</b></center></h2>
			</div>
            <div class="form-group">
				<label>Họ và tên: </label>
                  <input type="text" class="form-control" id="hoten" placeholder="Nhập vào họ tên" />
                
			</div>
            <div class="form-group">
				<label>Ngày sinh: </label>
                  <input type="date" class="form-control" id="ngaysinh"  />
                
			</div>
            <div class="form-group">
				<label>Nơi sinh: </label>
                  <input type="text" class="form-control" id="noisinh" placeholder="Nhập nơi sinh" />
                
			</div>
            <div class="form-group">
                <label >Giới Tính: </label>
               
                <select name="gioitinh">
                    <option>Nữ</option>
                    <option>Nam</option>
                </select>             
            </div>
            <div class="form-group">
                <label >Dân tộc: </label> <select name="dantoc">
					<option>Kinh</option>
					<option>Hoa</option>
					<option>Chăm</option>
					<option>Khơ Me</option>
					
				</select>

			</div> 
			<div class="form-group">
                <label >Tôn giáo: </label>
                 <select name="tongiao">
					<option>Không</option>
					<option>Phật</option>
					<option>Thiên chú</option>
					<option>Tin lành</option>
					
				</select>

			</div> 	
             <div class="form-group">
				<label>Nơi đăng ký thường trú: </label>
                  <select name="tongiao">
					<option>Cù lao dung</option>
					<option>Tân An</option>
					
					
				</select>
                
			</div>
             <div class="form-group">
				 <h2 align="center" style="background-color: aqua; "><center><b>Thông tin mẹ</b></center></h2>
			</div>
             <div class="form-group">
				<label>Nhập chứng minh nhân dân của mẹ hoặc mã nhân khẩu: </label>
                  <input type="text" class="form-control" id="thongtinme" placeholder="Nhập chứng minh nhân dân của mẹ, hoặc mã nhân khẩu của mẹ" />
			</div>
              <div class="form-group">
				 <h2 align="center" style="background-color: aqua; "><center><b>Thông tin cha</b></center></h2>
			</div>
             <div class="form-group">
				<label>Nhập chứng minh nhân dân của cha hoặc mã nhân khẩu: </label>
                  <input type="text" class="form-control" id="thongtincha" placeholder="Nhập chứng minh nhân dân của cha, hoặc mã nhân khẩu của cha" />
			</div>
            
             <div class="form-group"> 
                <div class="col-sm-4"></div>  
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-primary">Quay Về</button>
                </div>
                <div class="col-sm-1"></div>   
                <div class="col-sm-4">
                  <button type="reset" class="btn btn-primary">Tiếp Theo</button>
                </div>
              </div>
			</form>
			</div>
		
		
	<footer th:replace="layout :: footer"></footer>
</body>
</html>

