<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
    <nav th:replace="layout :: header"></nav>
    <div class="container main-content list">
    	<div th:if="${success}" class="row alert alert-success alert-dismissible">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <span th:text="${success}"></span>
	    </div>
    	<br/><br/><br/><br/><br/>
    	<th:block th:if="${#lists.isEmpty(giaykhaisinh)}">
		    <h3>Không có giấy khai sinh</h3>
		</th:block>
		
        <th:block th:unless="${#lists.isEmpty(giaykhaisinh)}">
            <div class="row">
           
                <form class="form-inline pull-right" action="#" th:action="@{/giaykhaisinh/DangKyKhaiSinh}" method="GET">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" 
                            placeholder="Type dondangkykhaisinh name..." />
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                
            </div>
            <br/>
            <div class="row">
             <h1>Danh sách khai sinh</h1>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                           
                            <th>Số khai sinh</th>
                            <th>Mã tờ khai</th>
                            <th>Ngày cấp</th>
                            <th>Ghi chú</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="giaykhaisinh,iterStat : ${giaykhaisinh}">
                            
                            <td th:text="${giaykhaisinh.sokhaisinh}"></td>
                            <td th:text="${giaykhaisinh.classtokhai}"></td>
                            <td th:text="${giaykhaisinh.ngaycap}"></td>
                            <td th:text="${giaykhaisinh.ghichu}"></td>
                            <td><a th:href="@{/giaykhaisinh/{id}/capnhat(id=${giaykhaisinh.id})}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td><a th:href="@{/giaykhaisinh/{id}/capnhat(id=${giaykhaisinh.id})}"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </th:block>
    </div>
    <!-- /.container -->
<br/><br/><br/><br/><br/>
    <footer th:replace="layout :: footer"></footer>
</body>
</html>