<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 	
	<div class="panel panel-info">
	  <div class="panel-heading" align="center" style="font-size:32px;"><b>HỆ THỐNG QUẢN LÝ GIẤY KHAI SINH</b></div>
	</div>
	  
    <div class="container">
   	 <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8" style="border:1px gray solid;">
          <form  th:action="@{/DangNhapCB}" method="POST" >
           <h1 style="font-size:26px;" align="center"><b>ĐĂNG NHẬP TÀI KHOẢN</b></h1>
           
            <div class="form-group">
              <lable style="font-size:17px;"><b><i>Mã Cán Bộ:</i></b></lable>
             <input type="text" id="email" name="email"  th:placeholder="Email"
				class="form-control" />
            </div>
            <div class="form-group">
              <lable style="font-size:17px;"><b><i>Mật Khẩu:</i></b></lable>
             <input type="password"  th:placeholder="Password"
				id="password" name="password" class="form-control" />
            </div>
            
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-lg" style="margin-bottom:10px;">Đăng Nhập</button>
            </div>
            <div class="col-sm-5">
            </div>
          </form>
          </div>
          <div class="col-sm-3"></div>
        </div>
    </div><!-- /.container -->

</body>
</html>