<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	 <nav th:replace="layout :: header"></nav>
	<div class="container main-content list">
		<form action="#" th:action="@{/giaykhaisinh/XemChiTietGiayKhaiSinh}" method="GET">
			<div class="form-group">
				 <h2 align="center" style="background-color: aqua; font-size: 30px; "><center><b>XEM CHI TIẾT GIẤY KHAI SINH</b></center></h2>
			</div>
			<div class="row">
			<div class="form-group col-sm-6">
				 <label>Quận/Huyện: </label>
                <select name="quanhuyen">
                    <option>Quận Ninh Kiều</option>
                    <option>Quận Thốt Nốt</option>
                    <option>Quận Thới Lai</option>
                    <option>Quận Ô Môn</option>
                </select>
			</div>
			
			<div class="form-group col-sm-6">
				<label>Cơ Quan Tiếp Nhận: </label>
                <select name="coquan">
                    <option>UBND Phường Tân An</option>
                    <option>UBND Phường An Lạc</option>
                    <option>UBND Phường Xuân Khánh</option>
                    <option>UBND Phường Hưng Lợi</option>
                </select>
			</div>
			
			</div>
			
			 <div class="form-group">
				<label>Ngày Lập: </label>
                  <input type="date" class="form-control" id="ngaylap"  />
                
			</div>
			<div class="form-group">
				 <h2 align="center" style="background-color: aqua; font-size: 24px; "><center><b><i>THÔNG TIN NGƯỜI ĐƯỢC KHAI SINH</i></b></center></h2>
			</div> 	
			<div class="form-group">
                <label>
                    Họ và Tên:
                </label>
             
                  <input type="text" class="form-control" id="hoten" placeholder="Nhập vào họ tên" />
              
            </div>

            <div class="form-group">
                <label >
                    Ngày Tháng Năm Sinh:
                </label>
               
                  <input type="date" class="form-control" id="ngaythangnamsinh" />
                
            </div>

            <div class="form-group">
                <label >
                    Nơi Sinh:
                </label>
                
                  <input type="text" class="form-control" id="noisinh" placeholder="Nhập vào nơi sinh" />
                </div>
           

            <div class="form-group">
                <label>Giới Tính: </label>
              
                <select name="quanhe">
                    <option>Nữ</option>
                    <option>Nam</option>
                </select>
              
            </div>

            <div class="form-group">
                <label >
                    Dân Tộc:
                </label>
               
                  <input type="text" class="form-control" id="dantoc" placeholder="Nhập vào dân tộc" />
               
            </div>

             <div class="form-group">
                <label >
                    Quốc Tịch:
                </label>
                
                  <input type="text" class="form-control" id="quoctich" placeholder="Nhập vào quốc tịch" />
            
            </div>

             <div class="form-group">
                <label>
                    Nơi Thường Trú/Tạm Trú:
                </label>
               
                  <input type="text" class="form-control" id="noithuongtrutamtru" placeholder="Nhập vào nơi thường trú/tạm trú" />
             
            </div>
              
           <div class="form-group">
				 <h2 align="center" style="background-color: aqua; font-size: 24px; "><center><b><i>THÔNG TIN MẸ</i></b></center></h2>
			</div>
             <div class="form-group">
				<label>Chứng Minh Nhân Dân hoặc Mã Nhân Khẩu Của Mẹ: </label>
                <input type="text" class="form-control" id="thongtinme" placeholder="Nhập chứng minh nhân dân hoặc mã nhân khẩu của mẹ" />
			</div>
			
             <div class="form-group">
				 <h2 align="center" style="background-color: aqua; font-size: 24px; "><center><b><i>THÔNG TIN CHA</i></b></center></h2>
			</div>
             <div class="form-group">
				<label>Chứng Minh Nhân Dân hoặc Mã Nhân Khẩu Của Cha: </label>
                  <input type="text" class="form-control" id="thongtincha" placeholder="Nhập chứng minh nhân dân hoặc mã nhân khẩu của cha" />
			</div>
			
			<div class="form-group">
				 <h2 align="center" style="background-color: aqua; font-size: 24px; "><center><b><i>THÔNG TIN KHAI SINH</i></b></center></h2>
			</div>
			<div class="form-group">
				<label>Chứng Minh Nhân Dân hoặc Mã Nhân Khẩu Của Người Đi Đăng Ký: </label>
                  <input type="text" class="form-control" id="thongtinnguoididangky" placeholder="Nhập chứng minh nhân dân hoặc mã nhân khẩu của người đi đăng ký" />
			</div>
			
			 <div class="form-group"> 
                <div class="col-sm-4"></div>  
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-primary">Quay Về</button>
                </div>  
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-primary">In Giấy Khai Sinh</button>
                </div>
              </div>
			
           
           
		</form>
	</div>


	<footer th:replace="layout :: footer"></footer>
</body>
</html>

