<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
</head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container main-content list">
    	<div th:if="${success}" class="row alert alert-success alert-dismissible">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <span th:text="${success}"></span>
	    </div>
    	
    	<th:block th:if="${#lists.isEmpty(listToKhai)}">
		    <a th:href="@{/DangKyGiayKhaiSinh}" class="btn btn-success pull-left">
                	<span class="glyphicon glyphicon-plus"></span> Thêm giấy khai sinh mới
            </a>
            <br></br>
		    <h3>Hiện chưa có giấy khai sinh nào!</h3>
		</th:block>
		
        <th:block th:unless="${#lists.isEmpty(listToKhai)}">
            <div class="row">
                <a th:href="@{/DangKyGiayKhaiSinh}" class="btn btn-success pull-left">
                	<span class="glyphicon glyphicon-plus"></span> Add new contact
               	</a>
                <form class="form-inline pull-right" action="#" th:action="@{/daduyet/search}" method="GET">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" 
                            placeholder="Type contact name..." />
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <div class="row">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã số</th>
                            <th>Ngày lập</th>
                            <th>Họ và tên</th>
                            <th>Ngày sinh</th>
                            <th>Nơi sinh</th>
                            <th>Quốc tịch</th>
                            <th>Dân tộc</th>
                            <th></th>
                            <th></th>
                             <th></th>
                            
                            
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="toKhai,iterStat : ${listToKhai}">
                            <td th:text="${iterStat.count}"></td>
                            <td th:text="${toKhai.maToKhai}"></td>
                            <td th:text="${toKhai.ngayLap}"></td>
                            <td th:text="${toKhai.hoTenNguoiKS}"></td>
                            <td th:text="${toKhai.ngaySinh}"></td>
                            <td th:text="${toKhai.noiSinh}"></td>
                            <td th:text="${toKhai.classQuocTich.tenQuocTich}"></td>
                            <td th:text="${toKhai.classDanToc.tenDanToc}"></td>
                           <td><a th:href="@{/XemChiTietGiayKhaiSinh/{id}/xem(id=${toKhai.maToKhai})}">In Giấy Khai Sinh</a></td> 
                            <td><a th:href="@{/XemChiTietGiayKhaiSinh/{id}/xem(id=${toKhai.maToKhai})}">Xem chi tiết</a></td> 
                              <td><a th:href="@{/CapNhatGiayKhaiSinh/{id}/(id=${toKhai.maToKhai})}">Sữa</a></td> 
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </th:block>
    </div>
    <footer th:replace="layout :: footer"></footer>
</body>
</html>