<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css"  href="css/style.css">

</head>
<body>
    <div class="container">
    <div id="first">
        <img src="css/image/UBND.jpg"/> 
    </div>
        
    <div id="second"> 
    <div class="row"> 
    <div class="col-sm-2" >
      
    </div>     
    <div class="col-sm-8" style="margin-top:20px;">    
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" style="border:1px solid black;">
            <h2 align="center"><b>CẬP NHẬT KHAI SINH</b></h2>
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-5" for="magiaykhaisinh">
                    Mã Số Giấy Khai Sinh:
                </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="magiaykhaisinh" placeholder="Nhập vào mã số giấy khai sinh">
                </div>
              </div>
              <div class="form-group">  
                 <div class="col-sm-2"></div>  
                <div class="col-sm-2">
                  <button class="btn btn-primary">Quay Về</button>
                </div>
                <div class="col-sm-4"></div>   
                <div class="col-sm-4">
                  <button class="btn btn-primary">Tiếp Theo</button>
                </div>
              </div>
            </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div> 
     
    <div class="col-sm-2" >
    </div>  
    </div>
        
    </div>
        
    <footer th:fragment="footer" class="container"> 
        &copy; 2017 Nhom Java Nang Cao
    </footer>
    
    </div> 
    
</body>    
</html>