<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css"  href="css/style.css">

</head>
<body>
    <div class="container">
    <div id="first">
        <img src="css/image/UBND.jpg"/> 
    </div>
        
    <div id="second"> 
       <div class="row"> 
            <h2 align="center"><b>GIẤY KHAI SINH ĐÃ DUYỆT</b></h2>

            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-3" for="timkiem">
                Mã Số Giấy Khai Sinh
                </label>
                <div class="col-sm-7"> 
                    <input type="text" class="form-control" id="timkiem" placeholder="Nhập vào mã số giấy khai sinh">
                </div>
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                </div>
              </div>
            </form>

            <!-- Hiển thị bảng chứa dữ liệu -->

            <div class="col-sm-12">
            <table  style="color:black; font-size: 20px; width: 1100px; border: 1px solid black;" >
                <thead style="border: 1px solid black;">
                <tr style="border: 1px solid black; height: 50px; background-color: 33CC66;">
                    <th style="border: 1px solid black;"><center>Mã Số</center></th>
                    <th style="border: 1px solid black;"><center>Họ và Tên</center></th>
                    <th style="border: 1px solid black;"><center>Ngày Tháng Năm Sinh</center></th>
                    <th style="border: 1px solid black;"><center>Nơi Sinh</center></th>
                    <th style="border: 1px solid black;"><center>Quốc Tịch</center></th>
                    <th style="border: 1px solid black;"><center>Dân Tộc</center></th>
                    <th style="border: 1px solid black;"><center></center></th>
                </tr>
                </thead>
                <tbody>
                <tr style="border: 1px solid black;">

                        <td style="border: 1px solid black;"><center>KS01</center></td>
                        <td style="border: 1px solid black;"><center>Phạm Toàn</center></td>
                        <td style="border: 1px solid black;"><center>04/01/2017</center></td>
                        <td style="border: 1px solid black;"><center>Bệnh Viện Phụ Sản Phương Châu, TPCT</center></td>
                        <td style="border: 1px solid black;"><center>Việt Nam</center></td>
                        <td style="border: 1px solid black;"><center>Kinh</center></td>
                        <td style="border: 1px solid black;"><button class="btn btn-primary"> Xem Chi Tiết</button></td>
                            
                </tr>
                </tbody>
            </table>
            </div>

        </div>
    </div> 
     
     
   
        
    </div>
        
    <footer th:fragment="footer" class="container"> 
        &copy; 2017 Nhom Java Nang Cao
    </footer>
    
    </div> 
    
</body>    
</html>