<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
</head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container main-content list">
    <h1 style="background-color:aqua;" align="center"><b>GIẤY KHAI SINH CHƯA DUYỆT</b></h1>
    
        <div class="row">
            <form class="form-inline" align="center" action="#"
            th:action="@{/giaykhaisinh/XemGiayKSChuaDuyet}" method="GET">
            	<label>Mã Số Khai Sinh:</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="q" placeholder="Nhập mã số khai sinh..." />
                </div>
                <button type="submit" class="btn btn-primary">Tìm Kiếm!</button>
            </form>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Mã Số</th>
                        <th>Họ và Tên</th>
                        <th>Ngày Tháng Năm Sinh</th>
                        <th>Nơi Sinh</th>
                        <th>Quốc Tịch</th>
                        <th>Dân Tộc</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>KS01</td>
                        <td>Phạm Toàn</td>
                        <td>04-01-2017</td>
                        <td>Bệnh Viện Phụ Sản Quốc Tế Phương Châu, TPCT</td>
                        <td>Việt Nam</td>
                        <td>Kinh</td>
                        <td><button type="submit" class="btn btn-primary">Duyệt</button></td>
                        <td><a th:href="@{/giaykhaisinh/XemChiTietKhaiSinh}">Xem Chi Tiết</a></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.container -->

    <footer th:replace="layout :: footer"></footer>
</body>
</html>